<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola</title>
</head>
<body>
    <cf_var>hola</cf_var>
    asdf
    <ul>
        <cf_for iterator="i" in="data">
            <h1>nombre: </h1>
            <li><cf_for_var>i</cf_for_var></li>
        </cf_for>
    </ul>
    <cf_cond>
        <cf_if cond="a"></cf_if>
        <cf_elif cond="b"></cf_elif>
        <cf_elif cond="c"></cf_elif>
        <cf_elif cond="d"></cf_elif>
        <cf_else></cf_else>
    </cf_cond>
</body>
</html>